/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-jotform-wordpress-store-plugin {
  .preview-area {
	width: 100%;
	border: 1px solid #c8ceed;
	border-radius: 4px;
	background: white;
	display: flex;
	align-items: center;
	padding: 9px 14px 9px 9px;

	&-icon {
	  width: 32px;
	  height: 32px;
	  min-width: 32px;
	  min-height: 32px;
	  margin: 12px;

	  img {
		border-radius: 4px;
	  }
	}

	&-text {
	  color: #0a1551;
	  font-size: 14px;
	  font-weight: 600;
	}

	&-button {
	  background: #e3e5f5;
	  margin-left: auto;
	  padding: 4px;
	  border-radius: 4px;
	  cursor: pointer;

	  svg {
		fill: #0a1551;
		vertical-align: middle;
	  }
	}
  }

  .components-placeholder {
	min-height: unset;
  }
}

.jf-store-picker-modal {
  &.components-modal__frame {
	min-width: 700px;
	min-height: 500px;
	height: 60vh;
  }

  .components-modal__header {
	display: none;
  }

  .components-modal__content {
	position: relative;
	margin: 0;
  }

  .jf-store-picker-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
}
