/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wordpress-store-plugin {
}

.components-modal {
  &__frame {
	min-width: 700px;
	min-height: 500px;
	height: 50vh;
  }

  &__header {
	display: none;
  }

  &__content {
	position: relative;
	margin: 0;
  }
}

.store-picker-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preview-area {
  border: 1px solid #c8ceed;
  border-radius: 4px;
  background: white;
  display: flex;
  align-items: center;
  padding: 9px;
  margin-bottom: 10px;

  &-img {
	width: 32px;
	height: 32px;
	min-width: 32px;
	min-height: 32px;
	border-radius: 4px;
	margin: 12px;
  }

  &-text {
	// color: #0a1551;
	font-size: 14px;
	font-weight: 600;
  }
}
