/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-jotform-wordpress-store-plugin {
  .components-external-link {
	  width: 100%;
  }
}

.jf-store-picker-modal {
  &.components-modal__frame {
	min-width: 630px;
	min-height: 500px;
	height: 60vh;
	border-radius: 4px;
  }

  .components-modal__header {
	display: none;
  }

  .components-modal__content {
	position: relative;
	margin: 0;
  }

  .jf-store-picker-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
}

.jf-header-visibility-setting-section {
    display: flex;
    justify-content: space-between;
}

.jf-product-list-layout-setting-section {
	.jf-pllss-options-container {
		display: flex;
		justify-content: center;
		padding-top: 5px;
		position: relative;

		.jf-pllss-option {
			display: flex;
			justify-content: center;
			align-items: center;

			background-color: #F9FAFF;
			width: 100%;
			height: 50px;
			border: none;
			border-radius: 2px;
			padding: 2px;
		}

		.jf-is-select {
			border: 1px solid #007CBA;
			padding: 1px;

			svg {
				fill: #007CBA;
			}
		}
	}
}
