/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-jotform-wordpress-store-plugin {
  .wp-block-embed__wrapper {
	position: relative;
	border: 1px solid #F3F3FE;
  }

  .jf-app-frame {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }
}

// This part is added to sync with other embed styles for left & right alignment
// Check this part later again
.wp-block-jotform-wordpress-store-plugin {
  &.alignleft, &.alignright {
	max-width: 360px;
	width: 100%;

	.wp-block-embed__wrapper {
	  min-width: 280px;
	}
  }
}
